---
layout: archive
title: "Supervision"
permalink: /supervision/
author_profile: true
---


PhD Completed

Gabriele Frigerio Porta		Feb. 2016 - Nov. 2020		Massey University, 
Supervisors: Prof. Mark Bebbington 60%	Dr Xun Xiao 20%		Prof. Goeff Jones 20%
Dissertation: Statistical Models for Multihazards (the Dean’s List of Exceptional Theses)

Ghazaleh Aslani		July 2018 - Dec. 2021, 		Massey University 
Supervisors: Dr. Xun Xiao 75%		Prof. Goeff Jones 20% 	Dr. Katharina Parry 5%
Dissertation: Some Statistical Techniques for Analysing Bluetooth Tracking Data in Traffic Modelling  

PhD Ongoing

Ahmad Basim		PhD candidate (started from Sept. 2021) 	UNSW Canberra 
Supervisors: Dr. Huadong Mo 50% 	Dr. Xun Xiao 25%		Prof. Daoyi Dong 25%
Topic: Machine Learning based Energy Production and Consumption Estimation

Anthony Murfin	PhD student (started from March 2022)		University of Otago
Supervisors: A/Prof. Michael Jack 60%	Dr. Xun Xiao 40%
Topic: A pay-for-performance programme design to enable demand flexibility and energy efficiency to act as resources in virtual power plants

Zhanzhongyu Gao	PhD student (started from Sept. 2023)		UNSW Canberra
Supervisors: Dr. Huadong Mo 50% 	Dr. Xun Xiao 25%		Prof. Daoyi Dong 25%
Topic: Customer-type Load Disaggregation at Bulky Supply Point and Non-intrusive Load Monitoring with Auxiliary Information

Master Student Completed

Ruizhe Yang, M.Sc., 		Feb. 2018 - Feb. 2020 		Massey University
Supervisors: Dr. Xun Xiao 60%		Dr. Kondaswamy Govindaruju 40%
Thesis: Risk Analysis of Life-time Acceptance Sampling Plans under Model Uncertainties

Honours Student Completed

Alex Hazelton			started from March 2023		University of Otago 
Supervisors: A/Prof Ting Wang 60%	Dr. Xun Xiao 40%
Topic: Modelling football event data via marked spatio-temporal point processes 



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

